.card-header {
    background-color: rgba(1, 1, 1, 0.2);
    font-weight: bold;
}

.line-breaker {
    white-space: pre-line;
}

.overflow-cell {
    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
