<div class="container-fluid" style="font-size: small;">
    <div class="row" style="width: 100%;">
        <div class="col-12">
            <button type="button" class="btn btn-link" (click)="back()">
                <i class="fa fa-chevron-circle-left"></i> Back
            </button>
        </div>
    </div>

    <ng-container *ngFor="let mail of previousEmails; let i = index">
        <div class="card mb-1">
            <div class="card-header" *ngIf="!toggle[i]" (click)="toggle[i] = !toggle[i]">
                <div class="row" style="width: 100%;">
                    <div class="col-3">
                        <div class="overflow-cell">{{ mail.from }}</div>
                    </div>
                    <div class="col-3">
                        <div class="overflow-cell">{{ mail.to }}</div>
                    </div>
                    <div class="col-4">
                        <div class="overflow-cell">{{ mail.subject }}</div>
                    </div>
                    <div class="col-2">
                        {{ mail.date | date: 'yyyy-MM-dd hh:mm aa' }}
                    </div>
                </div>
            </div>
            <div class="card-header" *ngIf="toggle[i]" (click)="toggle[i] = !toggle[i]">
                <div class="row" style="width: 100%;">
                    <div class="col-9" style="font-size: large;">
                        <label>{{ mail.subject ? mail.subject : '[No Subject]' }}</label>
                    </div>
                    <div class="col-3" style="text-align: right;">
                        <p>{{ mail.date | date: 'yyyy-MM-dd hh:mm aa' }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="toggle[i]">
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <label>From : </label>
                        <span>{{ selectedEmail.from }}</span>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <label>To : </label>
                        <span>{{ selectedEmail.to }}</span>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <label>CC : </label>
                        ​<span>{{ selectedEmail.cc }}</span>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <label>BCC : </label>
                        <span>{{ selectedEmail.bcc }}</span>
                    </div>
                </div>
            </div>
            <hr *ngIf="toggle[i]" />
            <div class="card-body" *ngIf="toggle[i]">
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <span class="line-breaker">{{ selectedEmail.body }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <div class="card mb-1">
        <div class="card-header">
            <div class="row" style="width: 100%;">
                <div class="col-9" style="font-size: large;">
                    <label>{{ selectedEmail.subject ? selectedEmail.subject : '[No Subject]' }}</label>
                </div>
                <div class="col-3" style="text-align: right;">
                    <p>{{ selectedEmail.date | date: 'yyyy-MM-dd hh:mm aa' }}</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row" style="width: 100%;">
                <div class="col-12">
                    <label>From : </label>
                    <span>{{ selectedEmail.from }}</span>
                </div>
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-12">
                    <label>To : </label>
                    <span>{{ selectedEmail.to }}</span>
                </div>
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-12">
                    <label>CC : </label>
                    ​<span>{{ selectedEmail.cc }}</span>
                </div>
            </div>
            <div class="row" style="width: 100%;">
                <div class="col-12">
                    <label>BCC : </label>
                    <span>{{ selectedEmail.bcc }}</span>
                </div>
            </div>
        </div>
        <hr />
        <div class="card-body">
            <div class="row" style="width: 100%;">
                <div class="col-12">
                    <span class="line-breaker">{{ selectedEmail.body }}</span>
                    <!-- <div [innerHTML]="selectedEmail.body | newline"></div> -->
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngFor="let mail of followingEmails; let i = index">
        <div class="card mb-1">
            <div class="card-header" *ngIf="!toggle2[i]" (click)="toggle2[i] = !toggle2[i]">
                <div class="row" style="width: 100%;">
                    <div class="col-3">
                        <div class="overflow-cell">{{ mail.from }}</div>
                    </div>
                    <div class="col-3">
                        <div class="overflow-cell">{{ mail.to }}</div>
                    </div>
                    <div class="col-4">
                        <div class="overflow-cell">{{ mail.subject }}</div>
                    </div>
                    <div class="col-2">
                        {{ mail.date | date: 'yyyy-MM-dd hh:mm aa' }}
                    </div>
                </div>
            </div>
            <div class="card-header" *ngIf="toggle2[i]" (click)="toggle2[i] = !toggle2[i]">
                <div class="row" style="width: 100%;">
                    <div class="col-9" style="font-size: large;">
                        <label>{{ mail.subject ? mail.subject : '[No Subject]' }}</label>
                    </div>
                    <div class="col-3" style="text-align: right;">
                        <p>{{ mail.date | date: 'yyyy-MM-dd hh:mm aa' }}</p>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="toggle2[i]">
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <label>From : </label>
                        <span>{{ selectedEmail.from }}</span>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <label>To : </label>
                        <span>{{ selectedEmail.to }}</span>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <label>CC : </label>
                        ​<span>{{ selectedEmail.cc }}</span>
                    </div>
                </div>
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <label>BCC : </label>
                        <span>{{ selectedEmail.bcc }}</span>
                    </div>
                </div>
            </div>
            <hr *ngIf="toggle2[i]" />
            <div class="card-body" *ngIf="toggle2[i]">
                <div class="row" style="width: 100%;">
                    <div class="col-12">
                        <span class="line-breaker">{{ selectedEmail.body }}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
