@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

.page-content {
    padding-top: 10px;
}

.app-area {
    height: 100vh;
    width: 95vw;
    padding: 2px;
    margin: 0px;
}
