<div class="container-fluid">
    <div class="row app-area">
        <div class="col-2">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="col-10 page-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
