<div class="container-fluid">
    <h3>Archive Mailbox</h3>
    <form [formGroup]="filter">
        <div class="form-group form-inline">
            Search by&nbsp;
            <select class="form-control form-control-sm" formControlName="field" [(ngModel)]="currentFilter.field">
                <option value="all">All</option>
                <option value="sendby">Sent By</option>
                <option value="sendto">Sent To</option>
                <option value="date">Date</option> </select
            >&nbsp;:&nbsp;
            <input
                *ngIf="currentFilter.field != 'date'"
                class="form-control ml-2"
                type="text"
                formControlName="value"
                [(ngModel)]="currentFilter.value"
                (input)="onFilterValueChange()"
            />
            <input
                *ngIf="currentFilter.field == 'date'"
                class="form-control ml-2"
                type="text"
                formControlName="value"
                placeholder="yyyy-mm-dd"
                [(ngModel)]="currentFilter.value"
                (input)="onFilterValueChange()"
            />
            &nbsp;&nbsp;&nbsp;
            <small><i>Note: Date search is in UTC time.</i></small>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" class="sortcol" style="width: 5%;" (click)="sortBy('id')">
                    # <span *ngIf="currentSortCol == 'id'" class="sortorder" [ngClass]="{ reverse: reverse }"></span>
                </th>
                <th scope="col" class="sortcol" style="width: 10%;" (click)="sortBy('from')">
                    From
                    <span *ngIf="currentSortCol == 'from'" class="sortorder" [ngClass]="{ reverse: reverse }"></span>
                </th>
                <th scope="col" style="width: 10%;">To</th>
                <th scope="col" class="sortcol" style="width: 20%;" (click)="sortBy('subject')">
                    Subject
                    <span *ngIf="currentSortCol == 'subject'" class="sortorder" [ngClass]="{ reverse: reverse }"></span>
                </th>
                <th scope="col" class="sortcol" style="width: 40%;">Body</th>
                <th scope="col" class="sortcol" style="width: 15%;" (click)="sortBy('date')">
                    Date
                    <span *ngIf="currentSortCol == 'date'" class="sortorder" [ngClass]="{ reverse: reverse }"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let email of displayEmail; index as i" (click)="openEmail(email)">
                <th scope="row">{{ email.id }}</th>
                <td class="overflow-cell">
                    <ngb-highlight
                        *ngIf="currentFilter.field == 'sendby' || currentFilter.field == 'all'"
                        [result]="email.from"
                        [term]="currentFilter.value"
                    ></ngb-highlight>
                    <span *ngIf="currentFilter.field != 'sendby' && currentFilter.field != 'all'">{{
                        email.from
                    }}</span>
                </td>
                <td class="overflow-cell">
                    <ngb-highlight
                        *ngIf="currentFilter.field == 'sendto' || currentFilter.field == 'all'"
                        [result]="email.to"
                        [term]="currentFilter.value"
                    ></ngb-highlight>
                    <span *ngIf="currentFilter.field != 'sendto' && currentFilter.field != 'all'">{{ email.to }}</span>
                </td>
                <td class="overflow-cell">
                    <ngb-highlight
                        *ngIf="currentFilter.field == 'all'"
                        [result]="email.subject"
                        [term]="currentFilter.value"
                    ></ngb-highlight>
                    <span *ngIf="currentFilter.field != 'all'">{{ email.subject }}</span>
                </td>
                <td class="overflow-cell">
                    <ngb-highlight
                        *ngIf="currentFilter.field == 'all'"
                        [result]="email.body"
                        [term]="currentFilter.value"
                    ></ngb-highlight>
                    <span *ngIf="currentFilter.field != 'all'">{{ email.body }}</span>
                </td>
                <td>{{ email.date | date: 'yyyy-MM-dd hh:mm aa' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"> </ngb-pagination>

        <select class="custom-select" style="width: auto;" [(ngModel)]="pageSize">
            <option [ngValue]="25">25 per page</option>
            <option [ngValue]="50">50 per page</option>
            <option [ngValue]="100">100 per page</option>
        </select>
    </div>
</div>
