::ng-deep {
    .ngb-highlight {
        font-weight: normal !important;
        background-color: yellow !important;
    }

    .ngb-highlight:first-child {
        font-weight: bold !important;
        background-color: yellow !important;
    }
}

.overflow-cell {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sortcol:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.sortorder:after {
    content: '\25b2'; // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
    content: '\25bc'; // BLACK DOWN-POINTING TRIANGLE
}

.table {
    max-width: 100%;
    table-layout: fixed;
    font-size: small;
}

.table-hover tbody tr:hover {
    color: black;
    background-color: lightblue;
}
