.layout-sidebar {
    position: fixed;
    left: 10px;
    top: 10px;
    height: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.3);
    overflow-x: hidden;
    overflow-y: auto;
    width: 250px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

    .layout-menu {
        overflow-y: auto;
        width: 250px;
        & > div {
            padding: 12px 15px;
            overflow: hidden;
            background-color: transparent;
            a {
                text-decoration: none;
                width: 100%;
                float: left;
                padding: 6px;
                box-sizing: border-box;
                cursor: pointer;
                border-radius: 4px;
                -webkit-border-radius: 4px;
                font-size: 14px;
                color: black;
                &:hover,
                &:focus {
                    color: white;
                    background-color: rgb(7, 104, 173);
                }
            }
        }
    }
}

mark {
    color: black;
    background-color: rgb(191, 147, 231);
    border-radius: 50%;
    padding: 1px 8px;
}

a.active {
    mark {
        color: blueviolet;
        background-color: white;
        border-radius: 50%;
        padding: 1px 8px;
    }
}
