<div class="layout-sidebar">
    <div class="layout-menu">
        <div class="mt-3">
            <h1><i class="fa fa-archive fa-lg" aria-hidden="true"></i></h1>
            <h2>Archive Mailbox</h2>
            <br />
            <a href="/">Home</a>
        </div>
    </div>
</div>
